body, html {
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.26)),  url("https://img.buzzfeed.com/buzzfeed-static/static/2014-01/enhanced/webdr06/22/13/anigif_enhanced-buzz-31591-1390415811-33.gif?downsize=715:*&output-format=auto&output-quality=auto");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* The hero image */
.hero-image {

   

    
    height: 100%;


    /* position: relative; */
}

.sh{
    height: 100vh;
}



p{
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1{
    color: white;
}

.wrapper { 
        background: #0000003b;
        box-shadow: 1px 1px 10px #999;
        margin: auto;
        text-align: center;
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 20px !important;
        width: 800px;
        padding-top: 10px;
    }


  